
  {{#if CPtiGato }}
  
  {{else}}
  <div class="" black">
    <div class="itm">
      <a class="btn bg-gold" href="/newCookie" style="height: 35px;">Accepter</a>
      <a href="" class="btn bg-black honey btn-sm" style="height: 35px;" data-dismiss="modal">refuser</a>
      <p>Vous devez accepter le cookie PtiGato pour pouvoir naviguer sur le site</p>
    </div>
  </div>
  {{/if}} 

