<!-- banniere -->
    <div  >
        <img class="img-ban bg-gold mh-10" src="/assets/ressources/banniere.jpg" alt="">   
    </div>
    <!-- banniere fin (en option) -->

    <!-- ================================================================================================= -->