 <!-- diplome  -->

    <!-- class="container" style="background-color: black;" -->
    <div class="container bg-black">
        <h3 class="mt-10vh text-center p-2  mt-3 ft-45 ">Mes certifs</h3>
    </div>
 
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <img class=" img-diplome mt-3" src="/ressources/images/certif_modele.PNG" alt="">
            </div>
            <div class="col-md-6">
                <img class=" img-diplome mt-3" src="/ressources/images/lw00001116.png" alt="">
            </div>

        </div>
    </div>



    <!-- diplome fin -->

    <!-- ================================================================================================= -->