 <!-- reseau sociaux (ici soucis de responsive le text sort de la div en format mobile) -->
    <div class="container bg-black ">
        <h2 class="text-center p-2 mt-2 w-100 ft-45">
            Suivez moi sur les reseaux</h2>
    </div>



    <div class="container pt-2 p-4 pb-2 mb-2 bg-black mt-3">
        <ul class="container d-flex justify-content-around text-center list-unstyled">
            <li><a target="blank" href="https://www.facebook.com/maiwenn.caligari"><i
                        class="ft-45 gold fab fa-facebook-square"></i></a></li>
            <li><a target="blank" href="https://www.instagram.com/"><i class="ft-45 fab fa-instagram"></i></a></li>
            <li><a target="blank" href="https://twitter.com/?lang=fr"><i class="ft-45 fab fa-twitter"></i></a></li>
            <li><a target="blank" href="https://www.facebook.com/maiwenn.caligari"><i class="ft-45 fab fa-linux"></i></a></li>

        </ul>
    </div>
    <!-- reseaux sociau fin -->

    <!-- ================================================================================================= -->