<form action="/editPassword/:id" method="POST">
    {{!-- Hidden --}}
    <input class="form-control" type="hidden" name='email' value='{{ mailOptions.to }}'>

    <div class="form-group mt-5">
        <label for="exampleInputPassword1">Nouveau mot de passe</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="mot de passe" required>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword2">Confirmes ton nouveau mot de passe</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control"
            placeholder="confirmation du mot de passe" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary"> Envoyer </button>
    </div>
</form>