<!--  ===================================================================  -->

<!-- CRUD articles -->

<!-- Table -->


<div id="crud-articles" class="container mt-15vh pb-0">
    <h2 class="container text-center bg-black p-2 ft-45 mb-0 ">CRUD Articles</h2>
</div>

<div class="accordion container mb-3 " id="accordionExample">
    <div class="card bg-black">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left bg-gold" type="button" data-toggle="collapse"
                    data-target="#collapseart" aria-expanded="true" aria-controls="collapseOne">

                </button>
            </h2>
        </div>

        <div id="collapseart" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table  gold container">
                    <thead>
                        <tr>
                            <th class=" honey" scope="col">#</th>
                            <th class="ft-20 honey" scope="col">Titre</th>
                            <th class="ft-20 honey" scope="col">Status</th>
                            <th class="text-right ft-20 honey" scope="col">Action</th>
                            <th class="text-right">
                                <a href="" data-toggle="modal" data-target="#modalStatic">
                                    <i class="fas fa-plus ft-25 " data-toggle="tooltip" data-placement="bottom"
                                        title="Ajouter/Crée"></i>
                                </a>
                                {{> admin/CrudActus/modalStatic}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each articles }}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{title }}</td>
                            <td>Posté</td>
                            <td class="text-right">
                                <button type="button" class="btn bg-gold btn-sm m-0 py-1 m-2" data-toggle="modal"
                                    data-target="#viewActus{{_id}}"> Preview</button>
                                <button type="button" class="btn bg-honey btn-sm m-0 py-1 m-2" data-toggle="modal"
                                    data-target="#modal{{_id}}">Edit</button>
                                <button type="button" class="btn bg-honey btn-sm m-0 py-1 m-2" data-toggle="modal"
                                    data-target="#ConfirmModal{{_id}}">supprimer</button>
                            </td>
                        </tr>
                        {{> admin/CrudActus/viewActus}}
                        {{> admin/CrudActus/modal }}
                        
                        {{!-- Appel du modal avec ID dynamique de l'objectdans la boucle --}}
                       

                        {{/each}}
                    </tbody>
                </table>

                <!-- Table -->
            </div>
        </div>
    </div>
</div>
<!-- CRUD articles fin -->